/* laptop */
@media screen and (max-width: 1200px) {
    .banner-content h1 {
        font-size: 48px;

    }

    .service-card {

        padding: 80px 15px;

    }

    .story-image img {
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
    }
}

/* tablet */
@media screen and (max-width: 1024px) {
    #banner {

        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-content {
        width: 100%;
    }

    .banner-image {
        width: 100%;
    }

    #service-card-container {
        flex-direction: column;
    }

    .service-card {
        max-width: 100%;
    }

    .story-card {
        flex-direction: column;
    }

    .story-content {
        width: 100%;
    }

    .story-image {
        width: 100%;
    }

    .heading-content h2 {
        font-size: 40px;
    }

}

/* mobile */
@media screen and (max-width: 640px) {
    .banner-content h1 {
        font-size: 36px;

    }

    .heading-content h2 {
        font-size: 32px;
    }

    .country-card-container {
        flex-direction: column;
    }
}